<?xml version="1.0" encoding="UTF-8"?>
<Robot>
    <frameWidth>25.0</frameWidth>
    <frameLen>30.0</frameLen>
    <bumperThickness>3.25</bumperThickness>
    <OI>
        <joystickMoveScale>0.6</joystickMoveScale>
        <flightStickXDead> 0.05 </flightStickXDead>
        <flightStickYDead> 0.05 </flightStickYDead>
        <flightStickZDead> 0.05 </flightStickZDead>
        <rampingCoefficent> 0.03 </rampingCoefficent>
    </OI>
    <SwerveMod>
        <ticksPerRotationSteer>26214.4</ticksPerRotationSteer>
        <ticksPerRotationDrive>16670.72</ticksPerRotationDrive>
    </SwerveMod>
    <SwervePID>
        <posPID>
            <moveP>0.018</moveP>
            <moveI>0</moveI>
            <moveD>0.0005</moveD>
            <moveDead>1</moveDead>
            <moveVelDead>0.2</moveVelDead>
            <moveSpeedMax>0.3</moveSpeedMax>
        </posPID>
        <rotPID>
            <rotP>0.825</rotP>
            <rotI>0.005</rotI>
            <rotD>0.002</rotD>
            <rotDead>0.025</rotDead>
            <rotVelDead>0.01</rotVelDead>
            <rotSpeedMax>0.3</rotSpeedMax>
        </rotPID>
    </SwervePID>
    <Vision>
        <firstX>115.61</firstX>
        <secondX>49.61</secondX>
        <thirdX>-16.61</thirdX>
        <gridY>-285.16</gridY>
        <loadingX>-107.94</loadingX>
        <loadingY>-311.35</loadingY>
    </Vision>
    <SwerveManager>
        <CAN>
            <steerIDs>
                <steerID0>2</steerID0>
                <steerID1>4</steerID1>
                <steerID2>6</steerID2>
                <steerID3>8</steerID3>
            </steerIDs>
            <driveIDs>
                <driveID0>1</driveID0>
                <driveID1>3</driveID1>
                <driveID2>5</driveID2>
                <driveID3>7</driveID3>
            </driveIDs>
        </CAN>
        <swerveModYs>
            <swerveModY0>-13</swerveModY0>
            <swerveModY1>-13</swerveModY1>
            <swerveModY2>13</swerveModY2>
            <swerveModY3>13</swerveModY3>
        </swerveModYs>
        <swerveModXs>
            <swerveModX0>10.5</swerveModX0>
            <swerveModX1>-10.5</swerveModX1>
            <swerveModX2>-10.5</swerveModX2>
            <swerveModX3>10.5</swerveModX3>
        </swerveModXs>
        
        <cancoderOffsets>
            <cancoderOffset0>254.795</cancoderOffset0>
            <cancoderOffset1>108.721</cancoderOffset1>
            <cancoderOffset2>136.143</cancoderOffset2>
            <cancoderOffset3>71.455</cancoderOffset3>
        </cancoderOffsets>
        <falconOffset>0</falconOffset>        
    </SwerveManager>
    <Arm>
        <Physical>
            <shldrCoderOffset>5.863</shldrCoderOffset>
            <elbowCoderOffset>2.599</elbowCoderOffset>
            <wristGearRatio>30.0</wristGearRatio>
            <wristCoderOffset>1.164</wristCoderOffset>
        </Physical>
        <armPosDead>3.0</armPosDead>
        <armTransDead>0.075</armTransDead>
        <armRotDead>5</armRotDead>
        <CAN>
            <shldrMotorID>10</shldrMotorID>
            <shldrCoderID>10</shldrCoderID>
            <elbowMotorID>11</elbowMotorID>
            <elbowCoderID>11</elbowCoderID>
            <wristMotorID>12</wristMotorID>
            <manipMotorID>14</manipMotorID>
        </CAN>
    </Arm>
    <AutoBalancer>
        <anglePID>
            <angleP>-0.40</angleP>
            <angleI>0</angleI>
            <angleD>-0.07</angleD>
            <angleDead>0.01</angleDead>
            <angleVelDead>0.05</angleVelDead>
        </anglePID>
    </AutoBalancer>
    <Scoring>
        <yBuffer>12.0</yBuffer>
        <scoringWaitTime>1.0</scoringWaitTime>
    </Scoring>
    <TipProtection>
        <tipP>1</tipP>
        <tipI>0.0</tipI>
        <tipD>-0.0005</tipD>
        <tipDead>0.05</tipDead>
        <tipVelDead>1.0</tipVelDead>
        <tipMax>1.0</tipMax>
    </TipProtection>
    <Sensing>
        <autoGrabDist>1.5</autoGrabDist>
    </Sensing>
</Robot>
